<%- include('../partials/head.ejs') %>
<table id="list">
  <thead>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" style="background-color: #324456"button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              CATEGORIES
            </button>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink" >
           
              <li><a class="dropdown-item active" href="#" aria-current="page">All</a></li>
              <% categories.forEach(category => {%>
              <li>
                <a class="dropdown-item" href="#"><%= category.name %></a> 
              </li>
                <% }) %>
            </ul>
          </div>
    </div> 



    <div class="recipecards">
        <div class="card-group">
          <% recipes.forEach(recipe => {%> 
            <div class="card" style="margin-right: 10px"> 
              <img src="/images/chocolatecake.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= recipe.name %> </h5>
                <a href="#" class="btn btn-light">Recipe</a>
                
              </div>
            
            </div>
            <%}) %> 
            <div class="card" style="margin-right: 10px">
              <img src="/images/sodabread.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Soda Bread</h5>
                <a href="#" class="btn btn-light">Recipe</a>
              </div>
            </div>
            <div class="card" style="margin-right: 10px">
              <img src="/images/sourdoughpancakes.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sourdough Pancakes</h5>
                <a href="#" class="btn btn-light">Recipe</a>
              </div>
            </div>
          </div>
    </div>
  </thead>

  <tbody>
    <% recipes.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><a href="/recipe/<%= m._id %>">Recipe</a></td>
      </tr>
      <% }); %>
    </tbody>