
<%- include('../partials/head.ejs') %>
<body>
<div class="container-sm" style="margin-bottom: 10px;">
<ul class="list-group list-group-flush">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Prep Time</li>
        <li class="list-group-item"><%= recipe.prep_time %> </li>
        <li class="list-group-item">Cook Time</li>
        <li class="list-group-item"><%= recipe.cook_time %></li>
    </ul>
    <ul>
    <h5 style="margin-bottom: 10px; margin-top: 10px; font-family: rubik">INGREDIENTS</h5> 
    <% for (let i=0; i < recipe.ingredient.length; i++){ %> 
    <li style="background-color: #EFEFED;" class="list-group-item"><%= recipe.ingredient[i] %> </li>
    <% } %> 
  </ul>
  <ul>
  <h5 style="margin-bottom: 10px; margin-top: 10px; font-family: rubik">DIRECTIONS</h5> 
  <% for (let i=0; i < recipe.direction.length; i++){ %> 
    <li style="background-color: #EFEFED;" class="list-group-item"><%= recipe.direction[i] %></li>
    <% } %> 
</ul>
</ul>

  <a href="/recipe/<%= recipe._id %>/editRecipe">
<button type="button" class="btn btn-primary btn-sm" style="background-color: white; color: black; margin-bottom: 10px; margin-top: 10px; font-family: rubik"
>EDIT</button></a>
<button type="button" class="btn btn-secondary btn-sm" style="background-color :white; color: black; margin-bottom: 10px; margin-top: 10px; font-family: rubik"
>DELETE</button>

<form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
  <input type="submit" value="DELETE">
</form>


<p><%= recipe.comment %></p>

<div Style="margin-bottom: 10px; margin-top: 10px" class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2" style="font-family: rubik;">COMMENTS</label>
  </div>

  

</div>  
</body>
